TIMEZONE= Europe/Paris

# OpenClaw configuration
OPENCLAW_IMAGE=ghcr.io/openclaw/openclaw:latest
OPENCLAW_GATEWAY_PORT=18789
OPENCLAW_CONFIG_DIR=./openclaw-config
OPENCLAW_WORKSPACE_DIR=./openclaw-workspace
OPENCLAW_GATEWAY_BIND=lan
OPENCLAW_TZ=${TIMEZONE}

OPENCLAW_SANDBOX=1
DOCKER_GID=999

# Ollama + Open WebUI
OLLAMA_HOST=ollama

# Clé de chiffrement n8n
N8N_ENCRYPTION_KEY=your_key